opencv-python
cmake
pyyaml
streamlit

#Fork of face_recognition using prebuild dlib library instead
face_recognition @ git+https://github.com/thetoby9944/face_recognition

face-recognition-models @ git+https://github.com/ageitgey/face_recognition_models